In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [19]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 15.7 s
Wall time: 1min 7s

1000

In [20]:
from time import time

In [21]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end-t_start))

inserted another chunk..., took 33.308 second
inserted another chunk..., took 31.963 second
inserted another chunk..., took 29.157 second
inserted another chunk..., took 28.704 second
inserted another chunk..., took 27.436 second
inserted another chunk..., took 27.622 second
inserted another chunk..., took 28.202 second
inserted another chunk..., took 27.272 second
inserted another chunk..., took 26.027 second
inserted another chunk..., took 29.878 second
inserted another chunk..., took 37.186 second

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12528\3966947747.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 28.724 second
inserted another chunk..., took 19.765 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-30 01:50:06--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.164.160, 52.216.62.232, 52.216.213.88, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.164.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 45,0K=0,3s

2024-01-30 01:50:11 (45,0 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-31 21:52:39--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240131T145240Z&X-Amz-Expires=300&X-Amz-Signature=19f5c7b20941ff59af91da40c00553dc381d778ed56167a9f42c89451e5acbf6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-31 21:52:40--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240131T145240Z&X-Amz-Expires=300&X-Amz-Signature=19f5c7b20941ff59af91da40c00553dc381d778ed56167a9f42c89451e5acbf6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7,5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz'

     0K .......... .......... .......... .......... ..........  0%  113K 68s
    50K .......... .......... .......... .......... ..........  1% 2,45M 35s
   100K .......... .......... .......... .......... ..........  1% 97,6K 49s
   150K .......... .......... .......... .......... ..........  2% 4,04M 37s
   200K .......... .......... .......... .......... ..........  3%  763K 31s
   250K .......... .......... .......... .......... ..........  3%  181K 33s
   300K .......... .......... .......... .......... ..........  4% 7,67M 28s
   350K .......... .......... .......... .......... ..........  5%  194K 29s
   400K .......... .......... .......... .......... ..........  5% 1,22M 26s
   450K .......... .......... .......... .......... ..........  6% 7,62M 24s
   500K .......... .......... .......... .......... ..........  7%  292K 23s
   550K .......... .......... .......... .......... ..........  7% 15,5M 21s
   600K .......... .......... .......... .......... ..........  8%  626K 20s
   650K .......... .......... .......... .......... ..........  9% 4,44M 19s
   700K .......... .......... .......... .......... ..........  9% 1,82M 18s
   750K .......... .......... .......... .......... .......... 10% 4,67M 17s
   800K .......... .......... .......... .......... .......... 11% 1,76M 16s
   850K .......... .......... .......... .......... .......... 11% 4,77M 15s
   900K .......... .......... .......... .......... .......... 12% 5,73M 14s
   950K .......... .......... .......... .......... .......... 13% 1,05M 14s
  1000K .......... .......... .......... .......... .......... 13% 8,97M 13s
  1050K .......... .......... .......... .......... .......... 14% 1,80M 12s
  1100K .......... .......... .......... .......... .......... 14% 5,53M 12s
  1150K .......... .......... .......... .......... .......... 15% 2,11M 11s
  1200K .......... .......... .......... .......... .......... 16% 1,49M 11s
  1250K .......... .......... .......... .......... .......... 16% 6,61M 10s
  1300K .......... .......... .......... .......... .......... 17% 1,51M 10s
  1350K .......... .......... .......... .......... .......... 18% 4,03M 10s
  1400K .......... .......... .......... .......... .......... 18% 4,81M 9s
  1450K .......... .......... .......... .......... .......... 19% 1,67M 9s
  1500K .......... .......... .......... .......... .......... 20% 4,39M 9s
  1550K .......... .......... .......... .......... .......... 20% 2,03M 9s
  1600K .......... .......... .......... .......... .......... 21% 3,42M 8s
  1650K .......... .......... .......... .......... .......... 22% 6,76M 8s
  1700K .......... .......... .......... .......... .......... 22% 1,66M 8s
  1750K .......... .......... .......... .......... .......... 23% 5,23M 8s
  1800K .......... .......... .......... .......... .......... 24% 2,83M 7s
  1850K .......... .......... .......... .......... .......... 24% 1,21M 7s
  1900K .......... .......... .......... .......... .......... 25% 22,5M 7s
  1950K .......... .......... .......... .......... .......... 26% 1,51M 7s
  2000K .......... .......... .......... .......... .......... 26% 6,76M 7s
  2050K .......... .......... .......... .......... .......... 27% 4,79M 6s
  2100K .......... .......... .......... .......... .......... 28% 2,41M 6s
  2150K .......... .......... .......... .......... .......... 28% 4,06M 6s
  2200K .......... .......... .......... .......... .......... 29% 3,58M 6s
  2250K .......... .......... .......... .......... .......... 29% 4,55M 6s
  2300K .......... .......... .......... .......... .......... 30% 1,63M 6s
  2350K .......... .......... .......... .......... .......... 31% 2,79M 6s
  2400K .......... .......... .......... .......... .......... 31% 5,78M 5s
  2450K .......... .......... .......... .......... .......... 32% 2,61M 5s
  2500K .......... .......... .......... .......... .......... 33% 5,98M 5s
  2550K .......... .......... .......... .......... .......... 33% 1,83M 5s
  2600K .......... .......... .......... .......... .......... 34% 1,40M 5s
  2650K .......... .......... .......... .......... .......... 35% 3,84M 5s
  2700K .......... .......... .......... .......... .......... 35% 2,95M 5s
  2750K .......... .......... .......... .......... .......... 36% 4,20M 5s
  2800K .......... .......... .......... .......... .......... 37% 1,75M 5s
  2850K .......... .......... .......... .......... .......... 37% 5,34M 4s
  2900K .......... .......... .......... .......... .......... 38% 5,48M 4s
  2950K .......... .......... .......... .......... .......... 39% 6,27M 4s
  3000K .......... .......... .......... .......... .......... 39% 8,00M 4s
  3050K .......... .......... .......... .......... .......... 40% 1,72M 4s
  3100K .......... .......... .......... .......... .......... 41% 3,73M 4s
  3150K .......... .......... .......... .......... .......... 41% 1,71M 4s
  3200K .......... .......... .......... .......... .......... 42% 18,0M 4s
  3250K .......... .......... .......... .......... .......... 43% 3,47M 4s
  3300K .......... .......... .......... .......... .......... 43% 6,30M 4s
  3350K .......... .......... .......... .......... .......... 44% 5,34M 4s
  3400K .......... .......... .......... .......... .......... 44% 2,94M 3s
  3450K .......... .......... .......... .......... .......... 45% 3,78M 3s
  3500K .......... .......... .......... .......... .......... 46% 1,31M 3s
  3550K .......... .......... .......... .......... .......... 46% 3,63M 3s
  3600K .......... .......... .......... .......... .......... 47% 5,33M 3s
  3650K .......... .......... .......... .......... .......... 48% 5,66M 3s
  3700K .......... .......... .......... .......... .......... 48% 3,30M 3s
  3750K .......... .......... .......... .......... .......... 49% 1,89M 3s
  3800K .......... .......... .......... .......... .......... 50% 3,72M 3s
  3850K .......... .......... .......... .......... .......... 50% 4,10M 3s
  3900K .......... .......... .......... .......... .......... 51% 5,37M 3s
  3950K .......... .......... .......... .......... .......... 52% 2,62M 3s
  4000K .......... .......... .......... .......... .......... 52% 5,90M 3s
  4050K .......... .......... .......... .......... .......... 53% 2,75M 3s
  4100K .......... .......... .......... .......... .......... 54% 1,71M 3s
  4150K .......... .......... .......... .......... .......... 54% 1,80M 3s
  4200K .......... .......... .......... .......... .......... 55% 3,65M 3s
  4250K .......... .......... .......... .......... .......... 56% 6,29M 2s
  4300K .......... .......... .......... .......... .......... 56% 4,79M 2s
  4350K .......... .......... .......... .......... .......... 57% 2,94M 2s
  4400K .......... .......... .......... .......... .......... 58% 3,53M 2s
  4450K .......... .......... .......... .......... .......... 58% 2,54M 2s
  4500K .......... .......... .......... .......... .......... 59% 4,52M 2s
  4550K .......... .......... .......... .......... .......... 59% 4,62M 2s
  4600K .......... .......... .......... .......... .......... 60% 2,23M 2s
  4650K .......... .......... .......... .......... .......... 61% 2,70M 2s
  4700K .......... .......... .......... .......... .......... 61% 2,45M 2s
  4750K .......... .......... .......... .......... .......... 62% 5,74M 2s
  4800K .......... .......... .......... .......... .......... 63% 2,60M 2s
  4850K .......... .......... .......... .......... .......... 63% 2,73M 2s
  4900K .......... .......... .......... .......... .......... 64% 3,99M 2s
  4950K .......... .......... .......... .......... .......... 65% 13,6M 2s
  5000K .......... .......... .......... .......... .......... 65% 5,43M 2s
  5050K .......... .......... .......... .......... .......... 66% 6,15M 2s
  5100K .......... .......... .......... .......... .......... 67% 7,49M 2s
  5150K .......... .......... .......... .......... .......... 67% 1,37M 2s
  5200K .......... .......... .......... .......... .......... 68% 4,65M 2s
  5250K .......... .......... .......... .......... .......... 69% 7,20M 2s
  5300K .......... .......... .......... .......... .......... 69% 1,73M 1s
  5350K .......... .......... .......... .......... .......... 70% 46,1M 1s
  5400K .......... .......... .......... .......... .......... 71% 4,82M 1s
  5450K .......... .......... .......... .......... .......... 71% 2,63M 1s
  5500K .......... .......... .......... .......... .......... 72% 1,47M 1s
  5550K .......... .......... .......... .......... .......... 73% 1,32M 1s
  5600K .......... .......... .......... .......... .......... 73% 19,1M 1s
  5650K .......... .......... .......... .......... .......... 74% 2,49M 1s
  5700K .......... .......... .......... .......... .......... 74% 4,27M 1s
  5750K .......... .......... .......... .......... .......... 75% 4,50M 1s
  5800K .......... .......... .......... .......... .......... 76% 5,36M 1s
  5850K .......... .......... .......... .......... .......... 76% 3,24M 1s
  5900K .......... .......... .......... .......... .......... 77% 7,51M 1s
  5950K .......... .......... .......... .......... .......... 78% 3,04M 1s
  6000K .......... .......... .......... .......... .......... 78% 5,58M 1s
  6050K .......... .......... .......... .......... .......... 79% 3,50M 1s
  6100K .......... .......... .......... .......... .......... 80% 1,23M 1s
  6150K .......... .......... .......... .......... .......... 80% 2,79M 1s
  6200K .......... .......... .......... .......... .......... 81% 8,04M 1s
  6250K .......... .......... .......... .......... .......... 82% 4,86M 1s
  6300K .......... .......... .......... .......... .......... 82% 5,15M 1s
  6350K .......... .......... .......... .......... .......... 83% 2,12M 1s
  6400K .......... .......... .......... .......... .......... 84% 2,90M 1s
  6450K .......... .......... .......... .......... .......... 84% 4,76M 1s
  6500K .......... .......... .......... .......... .......... 85% 5,73M 1s
  6550K .......... .......... .......... .......... .......... 86% 9,43M 1s
  6600K .......... .......... .......... .......... .......... 86% 1,42M 1s
  6650K .......... .......... .......... .......... .......... 87% 5,82M 1s
  6700K .......... .......... .......... .......... .......... 88% 3,13M 1s
  6750K .......... .......... .......... .......... .......... 88% 3,16M 0s
  6800K .......... .......... .......... .......... .......... 89% 7,03M 0s
  6850K .......... .......... .......... .......... .......... 89% 3,47M 0s
  6900K .......... .......... .......... .......... .......... 90% 5,72M 0s
  6950K .......... .......... .......... .......... .......... 91% 1,72M 0s
  7000K .......... .......... .......... .......... .......... 91% 4,53M 0s
  7050K .......... .......... .......... .......... .......... 92% 4,61M 0s
  7100K .......... .......... .......... .......... .......... 93% 4,03M 0s
  7150K .......... .......... .......... .......... .......... 93% 4,05M 0s
  7200K .......... .......... .......... .......... .......... 94% 3,12M 0s
  7250K .......... .......... .......... .......... .......... 95% 8,46M 0s
  7300K .......... .......... .......... .......... .......... 95% 5,19M 0s
  7350K .......... .......... .......... .......... .......... 96% 3,15M 0s
  7400K .......... .......... .......... .......... .......... 97% 3,17M 0s
  7450K .......... .......... .......... .......... .......... 97% 7,91M 0s
  7500K .......... .......... .......... .......... .......... 98% 3,96M 0s
  7550K .......... .......... .......... .......... .......... 99%  998K 0s
  7600K .......... .......... .......... .......... .......... 99% 3,25M 0s
  7650K .......... ..........                                 100% 1,93M=4,1s

2024-01-31 21:52:47 (1,81 MB/s) - 'green_tripdata_2019-09.csv.gz' saved [7854533/7854533]

In [3]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz')
df_green

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15288\779043876.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2019-09.csv.gz')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [6]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [7]:
df_green.to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

63